:root {
    --r-main-font-size: 30px;
    --r-main-font: 'Greycliff CF', sans-serif;
    --r-heading-font: 'Addington CF', sans-serif;
    --r-code-font: 'Cartograph CF', monospace;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.left > * {
    display: block;
}

.circle {
    border-radius: 50%;
    aspect-ratio: 1;
}

.s-10 {
    width: 10rem;
    height: 10rem;
}

.s-20 {
    width: 20rem;
    height: 20rem;
}

.s-30 {
    width: 30rem;
    height: 30rem;
}

.s-40 {
    width: 40rem;
    height: 40rem;
}

.text-sm {
    font-size: 2rem;
}

:not(pre) > code {
    background-color: #11111b;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.quote::after {
    content: '“';
    font-family: var(--r-heading-font);
    font-size: 8rem;
    color: var(--ctp-mocha-green);
    position: absolute;
    top: 3rem;
    left: -4rem;
}

.quote {
    padding-left: 2rem;
    border-left: var(--ctp-mocha-green) 0.5rem solid;
    text-align: left;
}


.quote .attribution::before {
    content: '—';
}
.quote .attribution {
    font-style: italic;
    font-family: var(--r-heading-font);
    margin-top: 0.5rem;
    margin-left: 2rem;
    display: block;
    color: var(--ctp-mocha-overlay0)

}

.question::before {
    content: '?';
    font-family: var(--r-heading-font);
    font-size: 8rem;
    color: var(--ctp-mocha-peach);
    position: absolute;
    top: -1.0rem;
    left: -5rem;
}

.question {
    text-align: left;
    padding-left: 2rem;
    border-left: var(--ctp-mocha-peach) 0.5rem solid;
}

.question h1,
.question h2,
.question h3,
.question h4,
.question h5,
.question h6 {
    color: var(--ctp-mocha-peach);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--ctp-mocha-base);
    padding: 0.5rem;
    border-radius: 0.375rem;
}

.attribution {
    font-style: italic;
    font-size: large;
    font-family: var(--r-heading-font);
    color: var(--ctp-mocha-overlay0);
}

presentation-timer {
    background-color: var(--ctp-mocha-crust);
    border-radius: 0.375rem;
    display: inline-block;
    font-family: 'Ellograph CF', monospace;
    font-size: calc(4rem);
    margin-top: 4rem;
    padding: 1rem;
}
